body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    margin: 0;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
      text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 18px;
}
.IniciarSesion {
    background-color: #cac7c723;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgb(0, 0, 0);
    width: 250px;
    max-width: 400px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.164);
    display: block;
}
 input {
        background-color:rgba(245, 245, 245, 0.11);
        border-color:rgba(7, 7, 7, 0.671);
    }
@media (max-width: 768px) {
    .IniciarSesion {
        width: 90%;
        max-width: 300px;
        padding: 15px;
        font-size: 14px;
    }
}
button {
    background-color: #cac7c723;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 20px rgb(4, 6, 211);
    border: 1px solid rgba(255, 255, 255, 0.185);
    border-radius: 5px;
    cursor: pointer;
}
h2 {
    color: #b60505dc;
}
.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
}
.campo label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}
.campo input{
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form { text-align: left; }